* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html,
body {
	padding: 15px;	
}


/* Main CSS */

video {
	border-radius: 20px;
	max-width: 100%;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 20px;
  }

  .grid-item {
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto;
	margin-bottom: 10px;
	break-inside: avoid;
	position: relative;
	overflow: hidden;
  }

  .grid-item > img {
	grid-row: 1 / -1;
	grid-column: 1;
  }

  .grid {
	column-count: 4;
	column-gap: 5px;
  }

  .fig {
	grid-row: 2;
	grid-column: 1;
	padding: .1em .2em;
	justify-self: start;
  }


  /* text */

.grid-item .cover {
	background-image: linear-gradient(to right, #ddd6f3 , #faaca8);
	/* background: rgba(0, 0, 0, 0.6); */
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 20px;
	/* opacity: 0; */
	color: rgb(255, 255, 255);
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.cover:hover {
	opacity: 1;
	transition: 0.25s;
}

.cover p {
	font-size: 1em;
	line-height: 1.8;
}

.cover .title {
	font-size: 2em;
	font-weight: bold;
}

/* responsive */

@media screen and (min-width: 270px) {
	img {
		border-radius: 10px;
	  }

	  video {
		border-radius: 10px;
		width: 100%;
		height: auto;
	}

	.grid-item .cover {
		border-radius: 10px; 
	}

	.cover p {
		font-size: .5em;
		line-height: 1.8;
	}
	
	.cover .title {
		font-size: .8em;
		font-weight: bold;
	}
}




