* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html,
body {
	/* background: radial-gradient(#ddd6f3, #faaca8); */
	background-color: #ddd6f3;
	background-image: url("./img/rain.png");
	background-size: cover;
	background-position: center;
}

/* cover */

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;	
	backdrop-filter: blur(5px);
	background-color: transparent;
	cursor: pointer;
	
	 
} 



.container {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;	
}




/* cards */

.card {
	position: relative;
	width: 350px;
	height: 350px;
	/* box-shadow: 5px 5px 20px black; */
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border: none;
	border-radius: 60% 40% 40% 20%;
	transition: 0.5s;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}


.crd1 {
	background-image: url(./img/3d/bakery.png);
}

.crd2 {
	background-image: url(./img/photoshop/land.png);
}

.crd3 {
	background-image: url(./img/illustrator/teddy.png);
}

.card-cvr {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgb(27, 27, 27, .1);
	border-radius: 60% 40% 40% 20%;
}



.card .content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;	
}



.card .content .data {
	padding-bottom: 10px;
}

.card .content .details {	
	text-align: center;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transform: translateY(80%);
}


.card .content .details:hover {
	transform: translateY(50%);
}

.card .content .details h1 {
	font-size: 1.8em;
	font-weight: 600;
   	color: #ffffff; 
	text-align: center;
	margin-bottom: 10%;
	font-family: 'Quicksand', sans-serif;
}

.card .content .details h2 {
	font-size: 1.5em;
	color: white;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
}

.card .content .details span {
	font-size: 1em;
	color: white;
	font-weight: 600;
	font-weight: 400;
	opacity: .7;
	font-family: 'Quicksand', sans-serif;
}


.card .content .details .spn {
	font-size: 1em;
	color: white;
	opacity: 1;	
}


/* Text */

.text {	
	padding-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 50vh;
}

.text > h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 4em;
	line-height: 1;
}

.text > h2 {	
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	font-size: 2em;	
	font-weight: bold;
}

.text p {
	font-size: 1em ;
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	margin-top: 2%;
	font-weight: bold;
	
	
}


@media screen and (min-device-width: 270px) and (max-device-width: 1000px) {
	.card {
		width: 30vw;
		height: 30vw;
		box-shadow: 2px 2px 5px black;	
		border-radius: 3px;
	}

	.card-cvr {
		border-radius: 3px;
		background: rgb(27, 27, 27, .2);
		
	}

	.card .content .details {	
		transform: translateY(85%);
		border-radius: 2px;
	}


	.card .content .details h1 {
		font-size: .6em;
	}

	.card .content .details h2 {
		font-size: .5em;
	}

	.card .content .details span {
		font-size: 1em;
	}


	.text > h1 {
		font-size: 2em;	
	}

	.text > h2 {	
		font-size: 1em;	
	}

}

@media screen and (min-device-width: 240px) and (max-device-width: 1000px) and (orientation: landscape) {
	.card {
		width: 30vw;
		height: 30vw;
		box-shadow: 2px 2px 5px black;	
	}


	.card .content .details {	
		transform: translateY(85%);
		border-radius: 2px;
	}


	.card .content .details h1 {
		font-size: .9em;
	}

	.card .content .details h2 {
		font-size: .5em;
	}

	.card .content .details span {
		font-size: 1em;
	}


	.text > h1 {
		font-size: 2em;	
	}

	.text > h2 {	
		font-size: 1em;	
	}

}







